$transition: .4s;
$iconSize: 60px;

@mixin button{
	display: block;
	position: absolute;
	width: $iconSize;
	height: $iconSize;
	line-height: $iconSize;
	text-align: center;
	color: #fff;
	font-size: 32px;
	background-color: rgba(black, .2);
	transition: background-color .2s;
	cursor: pointer;
	user-select: none;
	z-index: 2;
	font-size: 46px;

	&:hover{
		background-color: rgba(black, .4);
	}
}
.zoomer-container{
	position: relative;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	background-color: rgba(black, .7);
	transition: opacity $transition;
	opacity: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(20px);
	z-index: 1000;

	& .zoomer-wrapper{
		width: 100%;
		display: flex;
		height: 100%;
		overflow: hidden;
		transform: translateY(100px);
		transition: transform $transition;
		& > *{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			flex-shrink: 0;

			& img{
				max-width: 100%;
				max-height: 100%;
				display: block;
				user-select: none;
				transform: scale(.8);
				transition: transform .2s;
				object-fit: cover;

				&.zoomed{
					transform: scale(1);
				}

				@media(max-width: 600px){
					transform: scale(1);

				}
			}
		}
	}
	& .zoomer-close{
		top: 0;
		right: 0;
		@include button();
	}

	& .zoomer-prev{
		@include button();
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	& .zoomer-next{
		@include button;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&.open{
		opacity: 1;
		& .zoomer-wrapper{
			transform: none;
		}
	}
}
.zoomer{
	cursor: zoom-in;
	transition: filter .2s;
	&:hover{
		filter: brightness(120%);
	}
}